#canvas{
    background: #fff;
    /* margin: 100px; */
    border: 10px solid #000;
}

/* .colors{
    blue: #0000ff;
    green: #008000;
    lime: #00ff00;
    magenta: #ff00ff;
    maroon: #800000;
    navy: #000080;
    olive: #808000;
    orange: #ffa500;
    pink: #ffc0cb;
    purple: #800080;
    violet: #800080;
    yellow: #ffff00;
} */

